<div class="container">
  <br><br><br>
  <div class="ui-g">

    <div class="ui-g-4 card-info">
      <div class="ui-g">
        <div class="ui-g-4" style="background-color: #2E7D32">
          <i class="fa fa-suitcase fa-3x card-icon" aria-hidden="true" ></i>
        </div>
        <div class="ui-g-8" style="background-color: #4CAF50">
          <span class="card-upper-text">Recent Orders </span><br>
          <span class="card-lower-text">{{recentOrders?.length}} </span>
        </div>

      </div>
    </div>

    <div class="ui-g-4 card-ongoing">
      <div class="ui-g">
        <div class="ui-g-4" style="background-color: #0277BD">
          <i class="fa fa-paper-plane-o fa-3x card-icon" aria-hidden="true" ></i>
        </div>
        <div class="ui-g-8" style="background-color: #03A9F4">
          <span class="card-upper-text">In Store</span><br>
          <span class="card-lower-text">{{inProgressBookings?.length}} </span>
        </div>

      </div>
    </div>
    <div class="ui-g-4 card-done">
      <div class="ui-g">
        <div class="ui-g-4" style="background-color: #00695C">
          <i class="fa fa-check-circle fa-3x card-icon" aria-hidden="true"></i>
        </div>
        <div class="ui-g-8" style="background-color: #009688">
          <span class="card-upper-text">Completed</span><br>
          <span class="card-lower-text">{{completedBookings?.length}}</span>
        </div>

      </div>
    </div>


  </div>

  <p-dataTable [value]="recentOrders" [rows]="10" [paginator]="true">
    <header >Recent Orders</header>
    <p-column header="Name">
      <template let-col let-order="rowData" pTemplate="body">
        {{order.userInfo?.firstName}} {{order.userInfo?.firstName}}
      </template>
    </p-column>

    <p-column header="Address">
      <template let-order="rowData" pTemplate="body">
        {{order.userInfo?.address}},<br/>{{order.userInfo?.city}}, {{order.userInfo?.state}},{{order.userInfo?.zipCode}}
      </template>
    </p-column>

    <p-column  header="Phone">
      <template let-order="rowData" pTemplate="body">
        {{order.userInfo?.phoneNumber}}
      </template>
    </p-column>

    <p-column  header="Date">
      <template let-order="rowData" pTemplate="body">
          {{order.userInfo?.date | date}}
      </template>
    </p-column>
    <p-column  header="Items">
      <template let-order="rowData" pTemplate="body">
        <span *ngFor="let item of order.cart">-{{item?.title}}, &nbsp;</span>
      </template>
    </p-column>
    <p-column  header="Action">
     <!-- <template pTemplate="body" let-i="rowIndex" let-booking="rowData" >
        <button type="button" class="btn btn-link" (click)="showMoreDetails(booking, '1')"> More Details</button>
      </template>-->
    </p-column>
  </p-dataTable>

  <hr>
</div>


