<div class="container">
  <br><br><br>
  <div class="ui-g">

    <div class="ui-g-4 card-info">
      <div class="ui-g">
        <div class="ui-g-4" style="background-color: #2E7D32">
          <i class="fa fa-suitcase fa-3x card-icon" aria-hidden="true" ></i>
        </div>
        <div class="ui-g-8" style="background-color: #4CAF50">
          <span class="card-upper-text">Placed Orders </span><br>
          <span class="card-lower-text">{{newBookings?.length}} </span>
        </div>

      </div>
    </div>

    <div class="ui-g-4 card-ongoing">
      <div class="ui-g">
        <div class="ui-g-4" style="background-color: #0277BD">
          <i class="fa fa-paper-plane-o fa-3x card-icon" aria-hidden="true" ></i>
        </div>
        <div class="ui-g-8" style="background-color: #03A9F4">
          <span class="card-upper-text">In Store</span><br>
          <span class="card-lower-text">{{inProgressBookings?.length}} </span>
        </div>

      </div>
    </div>
    <div class="ui-g-4 card-done">
      <div class="ui-g">
        <div class="ui-g-4" style="background-color: #00695C">
          <i class="fa fa-check-circle fa-3x card-icon" aria-hidden="true"></i>
        </div>
        <div class="ui-g-8" style="background-color: #009688">
          <span class="card-upper-text">Completed</span><br>
          <span class="card-lower-text">{{completedBookings?.length}}</span>
        </div>

      </div>
    </div>
  </div>
</div>


