<div class="container">
  <div class="ui-g">
    <div class="ui-g-12" class="welcome-card">
      <span><i class="fa fa-suitcase fa-3x" aria-hidden="true" ></i></span>
      <span>Welcome to Eagle Star Admin Panel</span>
    </div>
  </div>
<br><br><br>

  <div *ngIf="loginError"><p class="alert alert-danger">{{loginError}}</p></div>
  <div class="text-center">
    <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-3">
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" [(ngModel)]="auth.email" #email="ngModel" required>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger"> The Email is required</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="pswd" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-3">
        <input type="password" class="form-control" name="pswd" id="pswd" placeholder="Password" [(ngModel)]="auth.pswd" #pswd="ngModel" required>
        <div [hidden]="pswd.valid || pswd.pristine" class="alert alert-danger">Password is Required</div>
      </div>
    </div>

      <div class="form-group row">
        <div class="col-sm-3 col-sm-offset-3">
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
