<div class="container">
  <form>
    <div class="form-group row">
      <label for="applianceName" class="col-sm-2 col-form-label">Appliance Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="applianceName" placeholder="Enter the appliance name">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" id="description" placeholder="Enter the appliance description"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="price" placeholder="Enter the price">
      </div>
    </div>
    <div class="form-group row">
      <label for="upload" class="col-sm-2 col-form-label">Choose Images</label>
      <div class="col-sm-10">
        <p-fileUpload name="myfile[]" customUpload="true" id='upload' accept="image/*" multiple="multiple" (uploadHandler)="getFiles($event)"></p-fileUpload>
      </div>
    </div>
  </form>
</div>
