/* You can add global styles to this file, and also import other style files */

body .ui-datatable-header{
     background-color: #0277BD !important;
      color: #ffffff !important;
      border: 1px solid #0277BD !important;
}

.navbar-custom {
  background-color:#1c3254;
  color:#ffffff;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color:transparent;
}
.navbar-custom .navbar-brand {
  color:#EFBB20;
}
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: #EFBB20;}



/* dropdown */
.navbar-custom .navbar-nav .dropdown-menu  {
  background-color: #1c3254;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  {
  color: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  {
  color: #EFBB20;
}

.navbar-custom .navbar-toggle {
  background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  background-color:#1c3254;
}
